# IDE artifacts
.idea

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Python test artifacts
__pycache__

# Frontend artifacts
/frontend/build
/frontend/node_modules
/frontend/public

# Server static content
./static

# Unit test / coverage reports
htmlcov/
.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
